@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    /*background-color: rgb(56, 202, 63);*/
    background-image: url('https://img.freepik.com/premium-vector/bright-gradient-background-green-tones_23-2148358650.jpg?w=740');
    display: flex;
    min-height: 740px;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
